@import './fonts.scss';
@import './vars.scss';
@import "~reset-css/reset.css";
@import './mixins&patterns.scss';

@import './header.scss';
@import './section1.scss';

.container {
  max-width: $container-w;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
}

html.scroll-active{
  position: relative;
  overflow: hidden;

  body {
    position: relative;
    overflow: hidden;
  }
}

html.scroll-active {
  body {
    position: fixed;
    overflow: hidden;
  }
}

html.scroll-active {
  body {
    position: fixed;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
}


@import './media/header-media.scss';
@import './media/section1-media.scss';