@import './fonts.scss';
@import './vars.scss';
@import "~reset-css/reset.css";
@import './mixins&patterns.scss';


@import './header.scss';

.imgLeft-title {
  width: 17%;
  object-fit: cover;
}

.imgRight-title {
  width: 17%;
  object-fit: cover;
}

@import './section1.scss';
@import './section2.scss';
@import './roomPage.scss';

.container {
  max-width: $container-w;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
}

html.scroll-active{
  position: relative;
  overflow: hidden;

  body {
    position: relative;
    overflow: hidden;
  }
}

html.scroll-active {
  body {
    position: fixed;
    overflow: hidden;
  }
}

html.scroll-active {
  body {
    position: fixed;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
}

.title-block {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  display: flex;
  max-width: 600px;
  justify-content: space-between;
  align-items: center;;

  span {
    text-align: center;
  }
}


.section-subTitle {
  margin-top: 15px;
  @include fontz('OpenSans', 400, 30px, normal);
  color: $main-black;
}


.title {
  @include fontz('Forum', 400, 50px, normal);
  color: $main-black;
}


@import './media/header-media.scss';
@import './media/section1-media.scss';
@import './media/section2-media.scss';
@import './media/roomPage-media.scss';

@media screen and (max-width: 767px) {
  .title {
    font-size: 35px;
  }

  .section-subTitle {
    font-size: 20px;
  }
}
