@mixin fontz($ff, $fw, $fs, $fst) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  font-style: $fst;
}

%section-title {
  @include fontz('OpenSans', 400, 50px, normal)
}

%book-btn-outline {
  @include fontz('OpenSans', 400, 50px, normal);
  border: 1px solid $main-blue;
  border-radius: 2px;
  text-transform: uppercase;
  background-color: #fff;
  font-size: 16px;
  color: $main-blue;
  padding: 10px 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

%book-btn-filled {
  @include fontz('OpenSans', 400, 50px, normal);
  background: $main-blue;
  border-radius: 2px;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px 45px;
}

%swiper-btn-next {
  margin-right: 15px;
  border: 1px solid $main-blue;
  background-color: #fff;
  border-radius: 50%;
  padding: 20px;
  background-image: url("../assets/images/left-arrow.png");
  background-size: 20px;
  background-position: 9px;
  background-repeat: no-repeat;
}

%swiper-btn-prev {
  background-color: #fff;
  border: 1px solid $main-blue;
  border-radius: 50%;
  padding: 20px;
  background-image: url("../assets/images/right-arrow.png");
  background-size: 20px;
  background-position: 9px;
  background-repeat: no-repeat;
}