.special-offer__section {
  margin-bottom: 200px;
}

.spec-offer__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: $gutter-default;

  &.list-active {
   .offer-block[data-hidden='true'] {
     opacity: 1;
     visibility: visible;
     height: auto;
     padding: 30px;
   }
  }
}

.offer-block[data-hidden='true'] {
  opacity: 0;
  visibility: hidden;
  height: 0;
  padding: 0;
}

.offer-block {
  transition: all .4s;
  border-bottom: 2px solid $main-blue;
  padding: $gutter-default;
  display: grid;
  grid-template-columns: .8fr 1fr;
  column-gap: $gutter-default;
}

.offer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.offer-img {
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

.offer-date {
  @include fontz('OpenSans', 400, 16px, normal);
  color: $main-black;
  display: block;
}

.offer-title {
  text-transform: uppercase;
  @include fontz('Forum', 400, 28px, normal);
  color: $main-black;
}

.offer-text {
  @include fontz('OpenSans', 400, 18px, normal);
  color: $main-black;
}

.offer-date, .offer-title {
  margin-bottom: 20px;
}

.offer-btn {
  text-decoration: none;
  padding: 0;
  @extend %more-btn;
}

.see-more__btn {
  padding: 0;
  @extend %more-btn;
  margin: 40px auto;
  text-decoration: underline;
}