
.rooms-list__section-body {
  padding: $gutter-default;
}

.rooms-list__room {
  background: #F5F5F5;
  border-radius: 50px 50px 0px 0px;
  padding: 15px;

  img {
    border-radius: 50px 50px 0px 0px;
    width: 100%;
    object-fit: cover;
  }
}

.rooms-list__block {
  position: relative;
}

.rooms-list__room-info__block {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  @include fontz('OpenSans', 400, 20px, normal);
  color: $main-blue;
}

.room-type {
  padding-left: 10px;
}

.room-area {
  border-right: 1px solid $main-blue;
  border-left: 1px solid $main-blue;
}

.room-people {
  border-right: 1px solid $main-blue;

  img {
    margin-right: 3px;
    width: 20px;
    height: 20px;
  }
}

.room-view, .room-people, .room-area {
  padding: 0px 10px;
}

.swiper-button-next-rooms {
  @extend %swiper-btn-next;
  position: absolute;
  top: 44%;
  left: 31.5%;
  z-index: 10;

}

.swiper-button-prev-rooms {
  position: absolute;
  z-index: 10;
  @extend %swiper-btn-prev;
  top: 44%;
  right: 31.5%;
}


.room-btns {
  margin-top: $gutter-default;
  display: flex;

}

.book-room__btn {
  @extend %book-btn-filled;
  margin-right: 10px;
  width: 200px;
  padding: 10px 20px;
}

.detail-room__btn {
  @extend %book-btn-outline;
  width: 200px;
  padding: 10px 20px;
}
